<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
   
  <title>Login</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <h2><b>Login</b></h2>
    <form action="/login" method="POST">
      <b>Email</b><br />
      <input
        type="email"
        name="email"
        size="30"
      /><br />
      <b>Password</b><br />
      <input type="password" 
      name="password" 
      /><br />
      <br />
      <button type="submit" class="btn btn-primary">Enter</button>
    </form>

  </body>
</html>