<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  
    
    <title>Register</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <h2>Please create an account</h2>
    <form action="/register" method="POST">
      <b>E-mail</b><br />
      <input
        type="email"
        name="email"
        
      /><br />
      <br />
      <b>Password</b><br />
      <input type="password"
       name="password"
      /><br />
      <br />
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </body>
</html>